*{
    margin: 0px;
    padding: 0px;
}
.header{
    position: sticky;
    top: 0px;

    background-color: rgb(52, 4, 4);
    display: flex;
    color: antiquewhite;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 100%;
}
.menu{
    display: flex;
}
.item{
    margin-right: 25px;
    font-size: 25px;
    border-radius: 20px;
    border: 5px solid  rgb(52, 4, 4);
    cursor: pointer;
    
}
.item:hover{
    color: rgb(52, 4, 4);
    background-color: cornsilk;
    border-radius: 20px;
    border: 5px solid cornsilk ;
}
.logo{
    font-size: 40px;
    font-style: italic; 
    text-shadow: 15px 10px 10px black;
    margin-right: 100px;
    display: flex;
    align-items:flex-end;
}
.banner{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    background-image: url(/white.jpg);
}
.h1{
    font-size: 55px;
    width: bold;
    margin-bottom: 10px;
}
.para{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    margin-top: 5px;
    height: 50px;
    width: 150px;
    background-color: rgb(122, 13, 13) ;
    color: antiquewhite;
    font-size: 20px;
}
.btn:hover{
    color: black;
    background-color: white;
    border: 3px solid black;
}
/* about section */
.about-h1{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-cont{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
}
.about-btn{
    width: 100px;
    height: 30px;
    background-color: orangered;
    color: antiquewhite;
    border: none;
    margin-top: 20px;
}
.about-h1-2{
    font-size: 30px;
    margin-bottom: 10px;

}
.about-back{
    background-image: url('./pic/white.jpg'), linear-gradient(45deg, rgb(1, 174, 1), white);
}
/* service sec */
.box-h1{
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;

}
.box-1{
    width: 250px;
    height: 250px;
    box-shadow: 4px 4px 10px gray;
    padding: 20px;
    text-align: justify;
    margin-top: 170px;
}
.full-box{
    display: flex;
    justify-content: space-around;
}
.btn-end{
    position: inherit;
}
.sec{
    height: 80vh;
    align-items: center;
    background-image: url('./pic/service.png.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
    
}
.hide{
    display: none;
}
@media screen and (max-width: 576px) {
    .header{
        background-color: #059862;
        flex-direction: column;
        height: auto;
    }
    .menu{
        width: 100%;
    }
    .item{
        border: 5px solid #059862;
        font-size: 16px;
        margin-right: 3px;
    }
    .banner{
        flex-direction: column-reverse;
        flex: 1;
    }
    .banner-img img{
        width: 100%;
    }
    .btn{
     margin-top: 50px;
    }
    .about-back div{
        flex-direction: column-reverse;
        padding: 20px;
    }
    .about-pic img{
        width: 100%;
        height: 70%;
    }
    .sec{
        width: 100%;
        height: 100%;
        background-color: aliceblue;
        background-image: none;

    }
    .box-1{
        height: 450;
        text-align: center;


    }
    .full-box{
        flex-direction: column;
        margin: auto;
        margin-left: 110px;
    }
}
