*{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: rgb(52, 4, 4);
    display: flex;
    color: antiquewhite;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    
}
.menu{
    display: flex;
}
.item{
    margin-right: 25px;
    font-size: 25px;
    border-radius: 20px;
    border: 5px solid  rgb(52, 4, 4);
    cursor: pointer;
    
}
.item:hover{
    color: rgb(52, 4, 4);
    background-color: cornsilk;
    border-radius: 20px;
    border: 5px solid cornsilk ;
}
.logo{
    font-size: 40px;
    font-style: italic; 
    text-shadow: 15px 10px 10px black;
    margin-right: 100px;
    display: flex;
    align-items:flex-end;
}
.banner{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    background-image: url(/white.jpg);
}
.h1{
    font-size: 55px;
    width: bold;
    margin-bottom: 10px;
}
.para{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    margin-top: 5px;
    height: 50px;
    width: 150px;
    background-color: rgb(122, 13, 13) ;
    color: antiquewhite;
    font-size: 20px;
}
.btn:hover{
    color: black;
    background-color: white;
    border: 3px solid black;
}